@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Simens stand  alone <a href="https://blazor.net" target="_blank">blazor</a>-<a href="https://webassembly.org" target="_blank">wasm</a> app.
